.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.center form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.center label {
  margin-bottom: 0.5em;
}
.center select,
.center option {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}
.center h2 {
  text-align: center;
}
