.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.center form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.center label {
  margin-bottom: 0.5em;
}
.center select,
.center option {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}
.center h2 {
  text-align: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75em;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
}

a {
  color: #3490dc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
